@import "@assets/styles/utils/vars.scss";
@import "@assets/styles/utils/mixins.scss";

.outer {
  border: 2px solid $secondary;
  user-select: none;
}

.inner {
  @include flex($just: space-between, $align: center);
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  @include flex();

  & > a > svg {
    width: 250px;
    height: min-content;
    @include svg-colors($white);
  }
}

.navigation {
  @include flex($just: space-between, $align: center);
  @include font-params(24px, 500, $white);

  & > a {
    margin-right: 25px;

    &:hover {
      color: $red;
    }
  }

  & svg {
    @include square(38px);
    @include svg-colors($white);
    cursor: pointer;

    &:hover {
      @include svg-colors($red);
    }
  }

  & svg + svg {
    @include square(45px);
    margin-left: 15px;
  }
}
