/**
 * Main flex properties mixin
 * It can be used with random properties order
 * Ex: @include flex($dir: column, $align: flex-start)
 */
@mixin flex($just: false, $dir: false, $align: false, $wrap: false) {
  display: flex;
  @if ($dir) {
    flex-direction: $dir;
  }
  @if ($align) {
    align-items: $align;
  }
  @if ($wrap) {
    flex-wrap: $wrap;
  }
  @if ($just) {
    justify-content: $just;
  }
}

/**
 * Replace svg colors via fill and stroke
 * Svg will be colored for existing params only
 */
@mixin svg-colors($color) {
  &,
  svg {
    transition: 0.3s;

    path,
    rect,
    line,
    circle {
      transition: 0.3s;

      &[stroke] {
        stroke: $color;
      }

      &[fill] {
        fill: $color;
      }
    }
  }
}

/**
 * Adds the same width and height to an element
 */
@mixin square($size) {
  height: $size;
  width: $size;
}


/**
 * Font params (font-size, weight and etc)
 */
@mixin font-params($font-size, $font-weight: false, $color: false, $line-height: false) {
  font-size: $font-size;
  @if ($font-weight) {
    font-weight: $font-weight;
  }
  @if ($color) {
    color: $color;
  }
  @if ($line-height) {
    line-height: $line-height;
  }
}
